*{
    position: relative;
    box-sizing: border-box;
}
.wrapper{
    width: 800px;
    height: 800px;
    background-color: #05d1ff;
    left: 100px;
    top: 100px;
}
.post{
    width: 100px;
    height: 100px;
    background-color: rgb(225, 255, 0);
    position: absolute;
}
.box{
    right: 0;
    top: 0;
}
.boxx{
    bottom: 0;
    left: 0;
}
.boxxx{
    bottom: 0;
    right: 0;
}
.boxxxx{
    top: 0;
    left: 0;
}
.card{
    height: 600px;
    width: 600px;
    background-color: #0400ff;
    top: 100px;
    margin: 0 auto;
}
.product{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    /* position: absolute; */
}
.info{
    width: 90%;
    height:78%;
    background-color:#fb03d6;
    position: absolute;
    bottom: 30px;
} 
.image{
    width: 300px;
    height:300px;
    /* position: absolute; */
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
}