div{
    color: aqua;
    border: 2px solid black;
    width: 500px !important;
    height: 500px;
}
p{
    color: white;
    font-size: xx-large;
    font-family: 華康中圓體;
    line-height: normal;
    margin: 0;
    background-color: blue;
    text-align: center;
}
.color1{
    background-color: red;
}
.color2{
    background-color: orange;
}
.color3{
    background-color: yellow;
}
.color4{
    background-color: greenyellow;
}
.color5{
    background-color: blue;
    height: 374px;
}
#id{
    width: 1500px;
}