.style1{
    font-size:100px;
    color:lime;}

.style2{
    font-size:100px;
    color:green;}

.style3{
    color:lime;}

.border{
    border-style: double;
    border-width: 10px;
    border-color: lime;}