*{
    box-sizing: border-box;
}
body{
    background-color: white;
}
.Bigbox{
    margin: 0px;
    height: 900px;
    width: 900px;
    display: inline-block;
    vertical-align: top;
}
.Mediumbox{
    display: inline-block;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    overflow: hidden;
    vertical-align: top;
}
.Circle{
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: #00fff2;
    vertical-align: top;
    border-radius: 150px;
    
}
.sonbox1{
    display: block;
    height: 50%;
    width:100%;
    background-color: rgb(249, 249, 98);
}
.sonbox2{
    height: 50%;
    width:100%;
    background-color: rgb(96, 216, 96);
}
.sonbox3{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgb(147, 220, 165);
    vertical-align: top;
}
.sonbox4{
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: rgb(148, 147, 224);
    /* vertical-align: top; */
}
.sonboxx1{
    display: block;
    height: 50px;
}
.sonboxx1.color1{
    background-color: #544e4e;
}
.sonboxx1.color2{
    
    background-color: #f57878;
}
.sonboxx1.color3{
    
    background-color: #7f6df2;
}
.sonboxx2{
    display: block;
    height: 100px;
}
.sonboxx2.color1{
    
    background-color: #107548;
}
.sonboxx2.color2{
    
    background-color: #a4bc2c;
}
.sonboxx2.color3{
    
    background-color: #b527c8;
}
.sonboxx3{
    display: inline-block;
    height: 100%;
    width: 100px;
}
.sonboxx3.color1{
    
    background-color: #3c0497;
}
.sonboxx3.color2{
    
    background-color: #2cb7bc;
}
.sonboxx3.color3{
    
    background-color: #b93f3f;
}
.sonboxx4{
    display: inline-block;
    height: 100%;
    width: 50px;
    
}
.sonboxx4.color1{
    
    background-color: #edc376;
}
.sonboxx4.color2{
    
    background-color: #0cdca1;
}
.sonboxx4.color3{
    
    background-color: #8a3894;
}